<div class="line-green" id="cashback-info">
    <span class="share-text-field">#text#</span>
    <a class="disable-cashback-line" id="close-btn-line" href="#">
        <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaWQ9Ik91dGxpbmVkIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlLz48ZyBpZD0iRmlsbCI+PHBvbHlnb24gcG9pbnRzPSIyOC43MSA0LjcxIDI3LjI5IDMuMjkgMTYgMTQuNTkgNC43MSAzLjI5IDMuMjkgNC43MSAxNC41OSAxNiAzLjI5IDI3LjI5IDQuNzEgMjguNzEgMTYgMTcuNDEgMjcuMjkgMjguNzEgMjguNzEgMjcuMjkgMTcuNDEgMTYgMjguNzEgNC43MSIvPjwvZz48L3N2Zz4=">
    </a>
</div>